@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #111213;
	--background: #ffffff;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
		Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
	color: var(--foreground);
	background: var(--background);
}

main {
	max-width: 880px;
	margin: 0 auto;
}

